/public/css/*
/node_modules
/public/galeries/*
!/public/galeries/.gitkeep
/public/storage
/public/hot
/storage/*.key
/public/js/*
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

parameters\.json
/bootstap
/storage
/public/mix-manifest.json
/public/manifest.*