/**
* Smacss
* The Base rules : all rules that are applied to an element selector.
* It doesn't include any class or Id selector
**/

/** Global **/
* {
  box-sizing: border-box;
}

img {
  @include material-shadow(3);
}

/** Police **/
a {
  text-decoration: none;
  font-family:$regular-font;
}

a, p {
  color: $primary-text-color;
  @include shadow-text;
}

.admin-container {
  font-family: $title-font;
}



/** Header **/
header {
  @include material-shadow(1);
}


/** BackGround **/

.admin-container{
  background-color: $admin-bck-color;
}

.sidebar{
  background-color: $dark-color;
}